body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u4 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:66px;
  width:320px;
  height:194px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:194px;
}
#u8 {
  position:absolute;
  left:2px;
  top:89px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:300px;
  width:320px;
  height:165px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
}
#u10 {
  position:absolute;
  left:2px;
  top:74px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:80px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:50px;
  top:340px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:260px;
  width:320px;
  height:5px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:130px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:390px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
