body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u4 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:0px;
  width:265px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:21px;
  width:126px;
  height:24px;
  font-family:'Arial';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:95px;
  width:320px;
  height:453px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:453px;
}
#u15 {
  position:absolute;
  left:2px;
  top:218px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:105px;
  width:310px;
  height:443px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:443px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:10px;
  height:500px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:500px;
}
#u18 {
  position:absolute;
  left:2px;
  top:242px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:95px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:95px;
}
#u20 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:50px;
  width:280px;
  height:35px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22 {
  position:absolute;
  left:0px;
  top:105px;
  width:300px;
  height:95px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:95px;
}
#u23 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:155px;
  width:280px;
  height:35px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25 {
  position:absolute;
  left:0px;
  top:210px;
  width:300px;
  height:110px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
}
#u26 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:330px;
  width:300px;
  height:110px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
}
#u28 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:275px;
  width:280px;
  height:35px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30 {
  position:absolute;
  left:10px;
  top:395px;
  width:280px;
  height:35px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:45px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:70px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FEFFFE;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:95px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
