body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u4 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:0px;
  width:265px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:21px;
  width:126px;
  height:24px;
  font-family:'Arial';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u13 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:75px;
  width:310px;
  height:473px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:473px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:820px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:820px;
}
#u16 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:10px;
  height:830px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:830px;
}
#u18 {
  position:absolute;
  left:2px;
  top:407px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:300px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:345px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:768px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:120px;
  top:65px;
  width:200px;
  height:210px;
}
#u25_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:216px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:215px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u28 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:42px;
  width:200px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u30 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:84px;
  width:200px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u32 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:126px;
  width:200px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u34 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:168px;
  width:200px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u36 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:260px;
  top:0px;
  width:60px;
  height:60px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:274px;
  top:24px;
  width:25px;
  height:3px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:3px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:274px;
  top:31px;
  width:25px;
  height:3px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:3px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:274px;
  top:38px;
  width:25px;
  height:3px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:3px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:121px;
  top:108px;
  width:40px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:121px;
  top:66px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:121px;
  top:150px;
  width:40px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:121px;
  top:192px;
  width:40px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:121px;
  top:234px;
  width:40px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
