body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u4 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:0px;
  width:265px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:21px;
  width:126px;
  height:24px;
  font-family:'Arial';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:95px;
  width:320px;
  height:453px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:453px;
}
#u15 {
  position:absolute;
  left:2px;
  top:218px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:105px;
  width:310px;
  height:443px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:443px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
}
#u18 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:135px;
  width:300px;
  height:165px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:165px;
}
#u20 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:310px;
  width:300px;
  height:135px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:135px;
}
#u22 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:455px;
  width:300px;
  height:150px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u24 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:105px;
  width:280px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:715px;
  width:100px;
  height:15px;
  color:#43445B;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:0px;
  top:615px;
  width:300px;
  height:240px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
}
#u30 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:52px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:93px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:135px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:177px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:218px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:260px;
  top:65px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:275px;
  width:280px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47_img.selected {
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:52px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49_img.selected {
}
#u49.selected {
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:93px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:135px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:177px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55_img.selected {
}
#u55.selected {
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:218px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57_img.selected {
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:260px;
  top:235px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:420px;
  width:280px;
  height:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u63_img.selected {
}
#u63.selected {
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:52px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:93px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:135px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:177px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u71_img.selected {
}
#u71.selected {
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:218px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u73_img.selected {
}
#u73.selected {
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:260px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u75_img.selected {
}
#u75.selected {
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:10px;
  top:581px;
  width:280px;
  height:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u79_img.selected {
}
#u79.selected {
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:52px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u81_img.selected {
}
#u81.selected {
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:93px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u83_img.selected {
}
#u83.selected {
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:135px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u85_img.selected {
}
#u85.selected {
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:177px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u87_img.selected {
}
#u87.selected {
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:218px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:260px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u91_img.selected {
}
#u91.selected {
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:10px;
  top:710px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#CCCCCC;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93_img.selected {
}
#u93.selected {
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:60px;
  top:717px;
  width:62px;
  height:15px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:60px;
  top:758px;
  width:62px;
  height:15px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:60px;
  top:798px;
  width:40px;
  height:15px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:10px;
  top:750px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#CCCCCC;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u101_img.selected {
}
#u101.selected {
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:10px;
  top:790px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#CCCCCC;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u103_img.selected {
}
#u103.selected {
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:10px;
  top:830px;
  width:280px;
  height:15px;
  color:#43445A;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:15px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:300px;
  top:0px;
  width:10px;
  height:915px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:915px;
}
#u108 {
  position:absolute;
  left:2px;
  top:450px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:40px;
  top:865px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:10px;
  top:670px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#CCCCCC;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u111_img.selected {
}
#u111.selected {
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:60px;
  top:677px;
  width:53px;
  height:15px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:20px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:45px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:70px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:95px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FEFFFE;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:120px;
  top:70px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#424242;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
