body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u4 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:0px;
  width:265px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:21px;
  width:72px;
  height:24px;
  font-family:'Arial';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:483px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
}
#u13 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:75px;
  width:310px;
  height:473px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:473px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u16 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:430px;
  width:300px;
  height:220px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:220px;
}
#u18 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:510px;
  width:280px;
  height:70px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:300px;
  top:0px;
  width:10px;
  height:710px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:710px;
}
#u21 {
  position:absolute;
  left:2px;
  top:347px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:660px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:140px;
  width:300px;
  height:130px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u25 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:280px;
  width:300px;
  height:140px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u27 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:160px;
  top:595px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:40px;
  top:595px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:40px;
  top:460px;
  width:220px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:110px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:520px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
